@inherits LayoutComponentBase

<MudThemeProvider />
<MudSnackbarProvider />
<div class="main-auth-layout">
  <MudContainer MaxWidth="@MaxWidth.Medium" Style="height: 100vh;">
    @Body
  </MudContainer>
</div>

@code { } 
